@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

/* global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #2c2c2c;
}

a {
  text-decoration: none;
  color: inherit;
}

/* utilities */
.container {
  max-width: 1200px;
}

.button {
  display: block;
  max-width: 200px;
  width: 100%;
  padding: 15px;
  border: 2px solid #2c2c2c;
  border-radius: 40px;
  color: #2c2c2c;
  text-align: center;
  transition: all 0.3s ease;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #2c2c2c;
  color: #fff;
}