// colors
$primary-color: #000000;
$secondary-color: #ccb48b;
$blog-text-color: #5c5c5c;
$text-color: #2c2c2c;

// spacings
$desktop-container-spacing: 50px;
$desktop-inner-spacing: 40px;

$mobile-container-spacing: 20px;
$mobile-inner-spacing: $mobile-container-spacing;

$grid-desktop-gap: $desktop-container-spacing;
$grid-desktop-mobile: $mobile-container-spacing;